/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand',
        sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    font-family: 'Quicksand', sans-serif;
}

.title p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}

.title h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.row {
    margin-right: 0 !important;
}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
} */
/* dark theme  */
#swichButton {
    color: white;
}

#swichButton .fa-moon {
    font-size: 25px;
}

#swichButton .fa-moon {
    display: block;
}

#swichButton .fa-sun {
    font-size: 25px;
}

#swichButton .fa-sun {
    display: none;
}

.dark-theme #swichButton .fa-sun {
    display: block;
}

.dark-theme #swichButton .fa-moon {
    display: none;
}

.dark-theme #search__input {
    background-color: #232220 !important;
    border: none;
}

.dark-theme .search__icon {
    color: #fff;
}

.dark-theme #about {
    background-color: #232220;
}

.dark-theme .title h3 {
    color: #fff;
}

.dark-theme .about__detail p:first-of-type {
    color: #fff;
}

.dark-theme .about__detail p:last-of-type {
    color: #fff;
}

.dark-theme .category {
    background-color: #282828;
}

.dark-theme .menu {
    background-color: #232220;
}

.dark-theme .menu__item {
    background-color: #232220;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark-theme .top__text span {
    color: #fff !important;
}

.dark-theme .top__text a {
    color: #fff !important;
}

.dark-theme .menu__bottom p {
    color: #fff;
}

.dark-theme {
    background-color: #232220;
}

.dark-theme .counter {
    background-color: #232220;
}

.dark-theme .counter span {
    color: #fff;
}

.dark-theme .counter p {
    color: #fff;
}

.dark-theme .video-content {
    background-color: #232220;
}

.dark-theme .blog {
    background-color: #232220;
}

.dark-theme .title h2 {
    color: #fff;
}

.dark-theme .blog {
    background-color: #282828;
}

.dark-theme .card {
    background-color: #282828 !important;
}

.dark-theme .card-body {
    background-color: #282828;
}

.dark-theme .card-body .card-text a {
    color: #fff;
}

.dark-theme .card-body .card-text p {
    color: #c2d0da;
}

.dark-theme .card-bottom {
    background-color: #282828;
}

.dark-theme .card-bottom a {
    color: #fff;
}

.dark-theme .feedback-content .item q {
    color: #fff;
}

.dark-theme .feedback-content .item p {
    color: #c2d0da;
}

.dark-theme .feedback-content .item-text h3 {
    color: #fff;
}

.dark-theme .footer .footer-icon a {
    background-color: #232220;
}

.dark-theme .footer input {
    background-color: #232220;
}

.container {
    width: 100%;
    padding: 0px 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.title h6 {
    color: #ff6600;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: block;
    letter-spacing: 1px;
    margin: 0;
}

.title h3 {
    color: #232121;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
}


/* START HEADER */

header {
    position: absolute;
    width: 100%;
}

header .container {
    padding: 0 15px;
}

.header__content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}

.header__left a {
    text-decoration: none;
}

h1 a.logo__brand {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header__right {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.search__bar {
    display: flex;
    align-items: center;
    position: relative;
}

.form-inline .form-control {
    height: 51px;
    width: 248px;
}

.header__right .search__bar .search__icon {
    position: absolute;
    right: 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn-toggle {
    background: transparent;
    border: none;
}

.header__right .bg__moon {
    color: #eee;
    font-size: 25px;
    transform: rotate(-20deg);
    cursor: pointer;
}

.header__right .home__bar {
    font-size: 1.95rem;
    color: #fbfdfb;
    cursor: pointer;
}

#btn-menu {
    background-color: transparent;
    border: none;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(6 3 0 / 77%);
    z-index: 9999;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    transform: translateY(-50%);
    transform: translateY(-50%);
}

#icon_delete {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    backface-visibility: hidden;
    line-height: 3em;
}

.overlay ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.overlay ul li a:hover {
    color: #ff6600;
}

.overlay_open {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s, opacity 0.4s;
}

#icon_delete {
    position: absolute;
}

@media (max-width: 320px) {
    .overlay ul li {
        line-height: 2.2rem;
    }

    .overlay ul li a {
        font-size: 16px;
    }
}

/* END HEADER */


/* START CAROUSEL */

.dicarousel {
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../image/banner1.jpg);
    background-size: cover;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    padding-top: 210px;
}

.dicarousel .container {
    padding: 0 15px;
}

.dicarousel__content {
    max-width: 600px;
    text-align: left;
}

.dicarousel h3 {
    color: #fff;
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 25px;
    font-weight: 600;
}

.dicarousel p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding-right: 48px;
}

.dicarousel button {
    color: #fff;
    background: transparent;
    padding: 12px 45px;
    border: 2px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    margin: 48px 8px 0 0;
    cursor: pointer;
    transition: all 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.dicarousel button:hover {
    color: #ff6600;
    background: #fff;
}

@media (max-width: 1024px) {
    .dicarousel h3 {
        font-size: 48px;
        line-height: 58px;
    }
}

@media (max-width: 768px) {
    .dicarousel {
        margin-top: 60px;
    }

    .dicarousel h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .dicarousel p {
        padding-right: 0;
    }
}

@media (max-width: 600px) {
    .form-inline {
        display: none;
    }

    .header__right .search__bar .search__icon {
        display: none;
    }

}

@media (max-width: 320px) {
    .form-inline {
        display: none;
    }

    .header__right {
        margin-right: 30px;
    }

    .header__right .search__bar .search__icon {
        display: none;
    }

    .dicarousel {
        margin-top: 60px;
        padding-top: 140px;
        min-height: 0;
    }

    .dicarousel h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .dicarousel button {
        margin-top: 24px;
        padding: 10px 21px;
    }
}

/* END CAROUSEL */


/* START ABOUTUS */

.aboutus {
    padding: 36px 0;
}

.aboutus .container {
    padding: 60px 15px;
}

/* .aboutus__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.aboutus__content .title {
    width: 40%;
}

.aboutus__content .about__detail {
    width: 60%;
    font-size: 18px;
}

.about__detail p:first-of-type {
    padding: 0;
    margin: 0;
    color: rgba(22, 28, 45, 0.7);
    line-height: 28px;
}

.about__detail p:last-of-type {
    padding: 0;
    margin: 16px 0 0 0;
    color: rgba(22, 28, 45, 0.7);
    line-height: 28px;
}

@media (max-width: 1024px) {
    .title h3 {
        font-size: 30px !important;
        line-height: 40px;
        margin: 0 !important;
    }

    .aboutus__content .title {
        /* width: 30%; */
        padding-right: 100px;
    }

    .aboutus__content .about__detail {
        width: 100%;
        position: relative;
        left: -80px;
        padding: 0;
    }

    .aboutus .container {
        padding: 60px 0;
    }
}

@media (max-width: 992px) {
    .aboutus__content .about__detail {
        left: 20px;
    }
}

@media (max-width: 768px) {
    .aboutus .container {
        padding: 60px 15px;
    }

    .aboutus__content .about__detail {
        left: 0;
        padding: 0 15px;
    }

    .title h3 {
        font-size: 32px !important;
        line-height: 40px;
    }


}

@media (max-width: 320px) {
    .aboutus {
        padding: 0 0;
    }

    .title .h6 {
        font-size: 16px;
        line-height: .5px;
    }

    .title h3 {
        font-size: 24px !important;
        line-height: 34px;
        margin-bottom: 36px !important;
        min-width: 273px;
    }

    .about__detail p {
        font-size: 16px;
        line-height: 26px;
    }
}

/* END ABOUT US */


/* START SERVICE */


.service {
    background: #ff6600;
}

.service .container-content {
    max-width: 1905px;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    width: 100%;
}

.service__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sevice__left,
.service__right {
    width: 50%;
}

.sevice__left {
    position: relative;
}

.left__img {
    background-image: url(../image/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 600px;
    width: 100%;
    z-index: 1;
    background-size: cover;
    display: block;
}

.left__img::before {
    content: "";
    background: rgba(16, 15, 19, 0.46);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: 2;
}


/* xử lý phần bên phải */

.service__right {
    padding: 16px 24px;
}

.right__container {
    padding: 48px;
}

.right__block h6 {
    color: #fff;
}

.right__block h3 {
    padding: 0;
    margin: 0;
}

.note p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 28px;
    padding: 16px 0;
    margin: 0;
}

.service__detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 2rem;
}

.service__card a {
    text-decoration: none;
}

.service__card span {
    width: 70px;
    height: 70px;
    background: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    color: #ff6600;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    transition: all 0.3s;
}

.service__card span:hover {
    color: #ffc600;
}

.service__card h4 {
    display: block;
    color: #232121;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1.2;
}

.service__card p {
    color: #ffdfc9;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0.5px !important;
}

@media (max-width: 1024px) {
    .service__right {
        padding: 10px 24px;
    }

    .right__block h3 {
        padding-right: 10px;
        font-size: 32px !important;
        line-height: 40px;
    }
}

@media (max-width: 992px) {
    .left__img {
        left: 8px;
        top: 50px;
    }
}

@media (max-width:768px) {
    .left__img {
        min-height: 200px !important;
        left: 8px;
        top: 50px;
        background-size: cover;
    }

    .service__right {
        padding-top: 24px;
    }

    .right__container {
        padding: 48px 48px 48px 48px;
    }
}

@media (max-width:320px) {
    .left__img {
        top: 7px;
        left: 7px;
    }

    .right__container {
        padding: 0;
        margin-left: 20px;
    }

    .title h6 {
        font-size: 16px;
        letter-spacing: .5px;
    }

    .right__block h3 {
        font-size: 24px !important;
        line-height: 34px;
        padding-right: 20px;
    }

    .note p {
        padding: 0;
    }

    .service__card h4 {
        font-size: 18px;
    }

    .service__card p {
        font-size: 16px;
        margin: 0;
    }

    .service__right {
        padding-bottom: 0;
    }
}

/* END SERVICE */


/* START CATEGORY */

.category {
    padding: 48px 0;
    background: #f7f7f7;
}

.category__content .title {
    text-align: center;
}

.category__content .title h3 {
    margin-bottom: 48px;
    padding: 0;
}

.category__detail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.grid__item {
    position: relative;
}

.category__detail a {
    text-decoration: none;
}

.category__detail a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    border-radius: 6px;
}

.category__detail .grid__img img {
    width: 100%;
    border-radius: 6px;
    /* filter: grayscale(10%) contrast(100%); */
    transition: all 0.4s;
    opacity: 1;
}

.category__detail .grid__img img:hover {
    opacity: 0.85;
}

.category__detail .grid__text {
    position: absolute;
    left: 50px;
    bottom: 30px;
}

.category__detail .grid__text h4 {
    font-size: 22px;
    margin: 24px 0 0 0;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}

.category__detail .grid__text span {
    color: #ffc600;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .category__detail {
        grid-template-columns: 1fr 1fr;
        /* width: 80%; */
    }
}

@media (max-width: 768px) {
    .category__detail {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 320px) {
    .category__detail .grid__text {
        left: 10px;
        bottom: 20px;
    }

    .category__detail .grid__text h4 {
        font-size: 18px;
        line-height: 28px;
    }

    .category__detail .grid__text span {
        font-size: 16px;
    }
}

/* END CATEGORY */


/* START MENU */

.menu {
    padding: 48px 0;
}

.menu__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.menu__item {
    padding: 40px;
    background: #ffffff;
    transition: all 0.5s;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid #eee;
    border-radius: 8px;
    position: relative;
}

.menu__top {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto 1fr;
}

.menu__top i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: rgba(130, 115, 252, 0.05);
    font-size: 25px;
    color: #ff6600;
    transition: all 0.5s;
    border-radius: 8px;
}

.menu__top i:hover {
    color: #fff;
    background: #ff6600;
}

.menu__top .top__text span {
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.menu__top .top__text a {
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    display: block;
    color: #232121;
    cursor: pointer;
    text-decoration: none;
}

.menu__top .top__text a:hover {
    color: #ff6600;
}

.menu__bottom p {
    margin: 16px 0 0 0;
    font-size: 18px;
}

@media (max-width: 992px) {
    .menu__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .menu__content.menu__content {
        grid-template-columns: 1fr 1fr;
    }

    .menu__top .top__text span {
        font-size: 18px;
    }

    .menu__top .top__text a {
        font-size: 20px;
    }

    .menu__bottom p {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .menu__content.menu__content {
        grid-template-columns: 1fr;
    }

    .menu__top .top__text span {
        font-size: 16px;
    }

    .menu__top .top__text a {
        font-size: 20px;
    }

    .menu__bottom p {
        font-size: 16px;
    }
}

/* END MENU */

/* start contact  */
.contact-content {
    background: url(../image/banner2.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.contact-content::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.contact-text {
    max-width: 700px;
    margin: 0 auto;
}

.contact-text h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
}

.btn-style,
.btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 5px;
    border: 2px solid transparent;
}

.btn-white {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.btn:hover {
    color: #ff6600;
    background-color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    transition: 0.3s ease-in;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}

.contact i {
    font-size: inherit;
}

@media (max-width: 1080px) {
    .contact-text h3 {
        font-size: 40px;
        line-height: 50px;
        max-width: 100%;
    }
}

@media (max-width: 736px) {
    .contact-text h3 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media (max-width: 415px) {
    .contact-text h3 {
        font-size: 26px;
        line-height: 34px;
    }
}

/* start number  */
.number {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.counter {
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    padding: 40px 20px;
    border-radius: 6px;
    text-align: center;
    transition: 0.3s ease;
}

.counter:hover {
    transform: translateY(-5px);
}

.counter i {
    background-color: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.counter span {
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 16px;
    color: #232121;
}

.counter p {
    font-size: 16px;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
}

@media (max-width: 992px) {
    .number {
        margin-top: 0px;
    }
}

@media (max-width: 640px) {
    .counter {
        text-align: center;
        padding: 30px 10px;
    }

    .counter span {
        font-size: 2rem;
    }

    .counter p {
        font-size: 1.1rem;
    }
}

/* start video  */
.bg-video {
    background: url(../image/banner3.jpg) no-repeat center;
    background-size: cover;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    min-height: 500px;
    position: relative;
}

.bg-video::before {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: -1;
    border-radius: 6px;
}

.bg-video a {
    color: #ff6600;
    background-color: transparent;
}

.video-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    background: #fff;
    border: transparent;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }

    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

@media (max-width: 900px) {
    .bg-video {
        min-height: 400px;
    }
}

@media (max-width: 640px) {
    .bg-video {
        min-height: 350px;
    }
}

@media (max-width: 320px) {
    .bg-video {
        min-height: 300px;
        min-width: 290px;
    }
}

/* start blog  */
.blog {
    background: #f7f7f7;
}

.card {
    border: none;
}

.card a {
    text-decoration: none;
}

.card img {
    width: 100%;
    border-radius: 6px;
    position: relative;
}

.post {
    position: absolute;
    left: 10px;
    top: 170px;
    color: #fff;
}

.post a {
    background: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}

.post span {
    opacity: 1;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: .02em;
}

.card-body {
    padding: 0;
}

.card-body .card-text a {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #232121;
    margin-top: 25px;
    margin-bottom: 15px;
}

.card-body .card-text p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.card-bottom a {
    font-weight: 700;
    color: #232121;
    letter-spacing: .02em;
    display: block;
}

.card-bottom .meta-info {
    display: flex;
    align-items: center;
}

.card-bottom .meta-info a {
    display: block;
}

.card-bottom .read-more {
    transition: .3s ease;
}

.card-bottom .read-more:hover {
    color: #ff6600;
}

@media (max-width: 1200px) {
    .post {
        top: 120px;
    }
}

@media (max-width: 992px) {
    .post {
        top: 150px;
    }
}

@media (max-width: 768px) {
    .post {
        top: 150px;
    }
}

@media (max-width: 576px) {
    .post {
        top: 240px;
    }
}

@media (max-width: 320px) {
    .title p {
        font-size: 16px;
        letter-spacing: .5px;
    }

    .title h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .card-body .card-text a {
        font-size: 20px;
        line-height: 30px;
    }

    .card-body .card-text p {
        font-size: 16px;
        line-height: 26px;
    }

    .post {
        top: 120px;
    }
}

/* start feedback  */
.feedback-content .item a {
    left: 0px;
    top: 0px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.feedback-content .item {
    max-width: 700px;
    margin: auto;
}

.feedback-content .item img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.feedback-content .item q {
    font-size: 24px;
    line-height: 36px;
    color: #232121;
    font-weight: 600;
    font-style: italic;
}

.feedback-content .item q::before {
    font-size: 50px;
    color: #ff6600;
    display: block;
    font-family: initial;
    font-style: italic;
    letter-spacing: 1px;
}

.feedback-content .item p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    font-family: 'Quicksand', sans-serif;
}

.feedback-content .item-text h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff6600;
}

@media (max-width: 576px) {
    .feedback-content .item p {
        font-size: 16px;
        line-height: 26px;
    }

    .feedback-content .item-text p {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .feedback {
        padding-top: 0 !important;
    }
}

/* start footer  */
.footer {
    background-color: #000;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer ul li {
    list-style: none;
}

.footer h2 a {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: .3 ease;
}

.footer h2 a:hover {
    color: #ff6600;
}

.footer p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer .footer-icon a {
    margin-right: 10px;
    color: #ff6600;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: #fff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    margin-right: 15px;
    transition: 0.3s;
}

.footer .footer-icon a:hover {
    background-color: #ff6600;
    color: #fff;
}

.footer h6 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer ul li {
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer ul li:hover a {
    color: #ff6600;
}

.footer ul li a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: rgba(22, 28, 45, 0.7);
    background: #fff;
    border-radius: 6px;
}

#btn-text {
    font-family: 'Quicksand', sans-serif;
}

.footer input:focus {
    border: 1px solid #ff6600;
}

@media (max-width: 768px) {
    .footer h6 {
        margin-bottom: 20px;
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding-top: 0 !important;
    }
}

/* start copyrights  */
.copyrights {
    background-color: #000;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(255 255 255 / 5%);
}

.copyrights .footer-copyrights {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.copyrights a {
    text-decoration: none;
    color: #fff;
}

.copyrights p {
    color: #ddd;
    font-size: 17px;
}

.copyrights p a {
    color: #ff6600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    transition: .3s;
}

.copyrights p a:hover {
    color: #fff;
}

.copy-right .copy-right {
    display: flex;
    text-align: right;
}

.copyrights .copy-right a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
    transition: .3s;
}

.copyrights .copy-right a:hover {
    color: #ff6600;
}

@media (max-width: 768px) {
    .copyrights .footer-copyrights {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .copyrights .footer-copyrights p {
        text-align: center;
    }
}

/* back to top  */
#back a {
    text-decoration: none;
}

#back .backToTop {
    width: 50px;
    height: 50px;
    background: #ff6600;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    visibility: hidden;
    opacity: 0;
}

#back .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

#back .backToTop:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    transition: 3s ease-out;
}